@{
    Layout = null;
}
@{
    ViewBag.Title = "signup";
}
<html>
<head>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/myBundle")
</head>
<script>
    function register(event) {
        debugger;
        var username = $("#userName").val();
        var password = $("#userPass").val();
        
        var confirmPassword = $("#confirmPassword").val();
        
        if (username === "" || password === "" || confirmPassword === "") {
            alert("One of the fields is empty");
            
        }
        else if(password!== confirmPassword)
        {
            alert("passwords do not match");
             
        }
        else
        {
            var dataTOsend = { userName: username, password: password };
            var settings = {
                type: "POST",
                dataType: "json",
                url: '@Url.Content("~/User/signUpbyAjax")',
                data: dataTOsend,
                success: function (d) { alert(d.msg); },
                error: function (d) { alert(d.msg); }
            };
            $.ajax(settings);
             
        }
    

    }
</script>
<body>
    <h2>Signup Screen</h2>
    <form action='@Url.Content("~/User/login")' method="get">

       
        <label for="lname">Name:</label><br>
        <input type="text" id="userName" name="userName"><br><br>

        <label for="fname">Password:</label><br>
        <input type="password" id="userPass" name="password"><br>

        <label for="fname">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br>

        <button type="button" class="btn btn-primary" name="btnSubmit" id="submit" onclick="register(this)" value="signUp">Register</button>
        <button type="submit" class="btn btn-primary" name="btnLogin" id="loginbtn" value="login">Login</button>
        <span style="color:red">@ViewData["EmptyStrings"]</span>
    </form>
    <div id="signup" style="display:none">
        <h1 style="color:red">You have been successfully registered..</h1>
    </div>
</body>
</html>